{{ partial "header.html" . }}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <h2 class="post-subtitle">{{ .Params.subtitle }}</h2>
    <p class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
        {{ .Date.Format "Monday Jan 2, 2006" }}
      </time>
    </p>

    {{ if (gt (len .Params.tags) 0) }}
      Tagged with:
      <ul>
        {{ range .Params.tags }}
          <li><a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
    {{ end }}

    <div>
      {{ $authorPage := (.Site.GetPage "taxonomyTerm" "authors" .Params.author_id) }}
      <p><a href="{{ .Site.BaseURL }}authors/{{ .Params.author_id }}">{{ $authorPage.Title }}</a></p>
      {{ if (not (eq $authorPage.Params.image_path "")) }}
        <img width="100" src="{{ .Site.Params.imageProxy }}{{ replace $authorPage.Params.image_path "http://" "" }}&w=100"/>
      {{ end }}
    </div>
  </header>

  {{ if (eq .Params.imported true) }}
    <div>
      This article was imported from Felix Online V1.
      <a href="http://felixonline.co.uk/{{ .Params.old_path }}">Original Article</a>
    </div>
  {{ end }}

  <figure>
    <img alt="{{ .Params.image_caption }}" src="{{ .Site.Params.imageProxy }}{{ replace .Params.image_path "http://" "" }}&w=500">
    <figcaption>{{ .Params.image_caption }}</figcaption>
  </figure>

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>
</article>

{{ partial "footer.html" . }}
