{{ partial "header.html" . }}

  <main>
    <article>
      <h1>{{ .Title }}</h1>

      <div>
        {{ $authorPage := (.Site.GetPage "taxonomyTerm" "authors" .Params.author_id) }}
        <p><a href="/authors/{{ .Params.author_id }}">{{ $authorPage.Title }}</a></p>
        {{ if (not (eq $authorPage.Params.image_path "")) }}
          <img width="100" src="{{ $authorPage.Params.image_path }}"/>
        {{ end }}
      </div>

      <div>
        <time>{{ .Date.Format "Monday Jan 2, 2006" }}</time>
      </div>

      <div>
        <ul id="tags">
          {{ range .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
      </div>

      <div>
        {{ .Content }}
      </div>
    </article>
  </main>

{{ partial "footer.html" . }}
