{{ partial "header.html" . }}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <h2 class="post-subtitle">{{ .Params.subtitle }}</h2>

    <div class="post-authors">
      By
      {{ $authorCount := len .Params.authors }}
      {{ range $index, $author := .Params.authors }}
        {{ $authorPage := ($.Site.GetPage "taxonomyTerm" "authors" $author) }}
        <a href="{{ $.Site.BaseURL }}authors/{{ . }}">{{ $authorPage.Title }}</a><!--
        -->{{ if eq $index (sub $authorCount 2) }} and {{ else if lt $index (sub $authorCount 1) }}, {{ end }}
      {{ end }}
    </div>

    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
        {{ .Date.Format "Monday" }},
        {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day }}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }}
        {{ .Date.Format "January 2006" }}
      </time>
    </div>
  </header>

  {{ if .Params.image }}
    <div class="post-image">
      <div class="post-image-container" style="background-image: url({{ .Site.Params.imageProxy }}{{ replace .Params.image "https://" "" }}&w=1000)"></div>
      <img alt="{{ .Params.image_caption }}">
      <figcaption>{{ .Params.image_caption }}</figcaption>
    </div>
  {{ end }}

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  <hr class="logo">

  <div class="post-footer">
    <div class="post-tags">
      {{ if ne .Params.tags nil }}
        {{ if gt (len .Params.tags) 0 }}
          <div class="post-tag-title">More</div>
          {{ range .Params.tags }}
            <div  class="post-tag">
              <a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }}</a>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    <div class="post-comments">
      {{ if (ne .Params.comments nil) }}
      <div class="post-comments-title">
        Old Comments
      </div>
      <div class="post-comments-list">
        {{ range .Params.comments }}
          <div class="post-comments-comment">
            {{ safeHTML .value }}
          </div>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="post-social">
      <a href="https://twitter.com/share" style="vertical-align: text-top;" class="twitter-share-button" data-via="feliximperial" data-size="large" data-related="feliximperial" data-dnt="true">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <div class="fb-like" data-href="{{ .Permalink }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
    </div>
  </div>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="5"></div>

  <div class="post-footnotes">
    {{ if (eq .Params.imported true) }}
      <div>
        This article was imported from an earlier version of Felix Online - see the original article <a href="http://felixonline.co.uk{{ index .Params.aliases 0 }}">here</a>.
      </div>
    {{ end }}
  </div>
</article>

{{ partial "footer.html" . }}
