/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 2;

  // NEW
  text-align: center;
}

.site-title {
  @include relative-font-size(2.4);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.6;
  letter-spacing: 3px;

  &,
  &:visited {
    color: $text-color;
  }

  // NEW
  font-family: $heading-font-family;
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2;

  // NEW
  border-top: 1px solid $grey-color-light;

  .page-link {
    line-height: $base-line-height * 0.8;
    font-weight: bold;

    // NEW
    @include relative-font-size(0.8);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 33px;
    }

    // NEW
    a {
      color: $text-color;
    }
  }
}

@include media-query($on-palm) {
  // TEMP
  .site-nav {
    display: none;
  }
}

.icon {
  height: 30px;
  width: 30px;
  position: relative;
  top: 11px;
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
}

// NEW
.footer-slogan {
  padding: $spacing-unit * 0.4 0;
  font-family: $heading-font-family;
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid $grey-color-light;

  color: $grey-color-dark;
}

/**
 * Home layout
 */

.headline-section {

  h1 {
    text-transform: uppercase;
  }

  @include media-query($on-palm) {
    h1 {
      margin-top: -10px;
    }
  }

  .main-image, .headline-summaries {
    height: $headline-section-height;
    float: left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  @include media-query($on-palm) {
    .main-image, .headline-summaries {
      height: $headline-section-height * 0.75;
      float: none;
      width: 100%;
    }

    .main-image {
      height: 225px;
    }
  }

  .main-image {
    background-image: url("http://lorempixel.com/500/400/");
    background-size: cover;
    margin-right: $spacing-unit / 1.1;
  }

  .headline-summaries {
    .summary {
      border-top: 0.75px solid $grey-color-light;
      height: $headline-section-height / 3;
      font-family: $heading-font-family;

      &:first-child {
        border-top: 0.75px solid $text-color;
      }

      &:last-child {
        border-bottom: 0.75px solid $grey-color-light;
      }

      @include media-query($on-palm) {
        &:last-child {
          border-bottom: none;
        }
      }

      .section {
        margin-top: 8px;
        font-style: italic;
        @include relative-font-size(0.9);
      }

      .title {
        @include relative-font-size(1.35);
      }

      .title a {
        color: $text-color;
      }

      .title span.author {
        margin-left: 4px;
        color: $grey-color;
      }

      @media (min-width: $on-palm) and (max-width: 960px) {
        .title span.author {
          margin-left: 0px;
        }
      }

      @include media-query($on-palm) {
        .title {
          @include relative-font-size(1);
          line-height: $base-line-height * 0.9;
        }

        .title span.author {
          margin-left: 0px;
          display: block;
        }
      }
    }

    @include media-query($on-palm) {
      .summary {
        height: $headline-section-height * 0.8 / 3;
      }
    }
  }
}


hr.style-circle {
    margin-top: 25px;
    margin-bottom: 10px;
    height: 1px;
    border-top: 0px $grey-color-light;
    border-left: none;
    border-right: none;
    color: $grey-color-light;
    text-align: center;
}

hr.style-circle:after {
    content: "○";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.section {
  @extend %clearfix;

  .post-block-container {
    margin-top: -$spacing-unit / 2;
  }

  h1 {
    text-transform: uppercase;

    a {
      color: $text-color;
    }
  }
}

.post-block {
  float: left;
  margin-top: $spacing-unit;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
  height: 150px;

  &:nth-child(odd) {
    margin-right: $spacing-unit / 2;
  }

  &:nth-child(even) {
    margin-left: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    &:nth-child(odd) {
      margin-right: 0;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .image, .info {
    height: 100%;
    float: left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .image {
    background-image: url("http://lorempixel.com/400/300/");
    background-size: cover;
    margin-right: $spacing-unit / 4;
  }

  .info {
    margin-left: $spacing-unit / 4;

    a {
      font-family: $heading-font-family;
      color: $text-color;
      @include relative-font-size(1.2);
      line-height: $base-line-height * 0.8;
    }

    .subtitle {
      margin-top: 4px;
      margin-bottom: 4px;
      color: $grey-color-dark;
      font-style: italic;
    }

    span.date {
      @include relative-font-size(0.8);
      color: $grey-color-dark;
    }

    span.author {
      @include relative-font-size(0.9);
      margin-right: 3px;
    }
  }
}

@include media-query($on-palm) {
  .post-block {
    float: none;
    margin-top: $spacing-unit;
    width: 100%;
    height: 150px;
  }
}

.highlight-post-block {
  float: left;
  margin-top: $spacing-unit / 2;
  width: -webkit-calc(100% / 3 - (#{$spacing-unit} / 2));
  width:         calc(100% / 3 - (#{$spacing-unit} / 2));

  &:nth-last-child(-n + 2) {
    margin-left: $spacing-unit / 1.5;
  }

  @include media-query($on-palm) {
    &:nth-last-child(-n + 2) {
      margin-left: 0;
    }
  }

  .image {
    height: 150px;
    background-image: url("http://lorempixel.com/500/300/");
    background-size: cover;
  }

  h2 {
    text-transform: uppercase;
  }

  .info {

    margin-top: $spacing-unit / 2;

    a {
      font-family: $heading-font-family;
      color: $text-color;
      @include relative-font-size(1.2);
      line-height: $base-line-height * 0.8;
    }

    .subtitle {
      margin-top: 4px;
      margin-bottom: 4px;
      color: $grey-color-dark;
      font-style: italic;
    }

    span.date {
      @include relative-font-size(0.8);
      color: $grey-color-dark;
    }

    span.author {
      @include relative-font-size(0.9);
      margin-right: 3px;
    }
  }
}

@include media-query($on-palm) {
  .highlight-post-block {
    float: none;
    width: 100%;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
