{{ $imageProxy := .Site.Params.imageProxy }}
{{ $titleLength := 60 }}
{{ $subtitleLength := 50 }}

{{ partial "header.html" . }}

{{ $category := (index (where $.Site.Params.displayCategories "name" (lower .Title)) 0) }}
{{ $categoryPages := .Pages }}

<div class="category-header" style="color: #{{ $category.colour }}">
  {{ .Title }}
</div>

<div class="category-subsection-links">
  {{ range $category.tags }}
    {{ if not (in "imported image" .) }}
      <div class="category-subsection-link">
        <a href="{{ $.Site.BaseURL }}tags/{{ . }}" style="color: #{{ $category.colour }}">{{ replace . "-" " " }}</a>
      </div>
    {{ end }}
  {{ end }}
</div>

<div class="sections">

  {{ range $subsection := $category.tags }}
    {{ $articles := (where $categoryPages ".Params.tags" "intersect" (slice $subsection)) }}
    {{ $subsectionName := replace $subsection "-" " " }}
    {{ if ne (len $articles) 0 }}
      <div class="section">
        <div class="section-header" id="{{ $subsectionName }}">
          <a href="{{ $.Site.BaseURL }}tags/{{ $subsection }}">{{ $subsectionName }}</a>
        </div>

        <div class="section-posts-container">
          {{ range first 4 (where $articles ".Params.featured" true) }}
            <div class="section-post">
              <a href="{{ .RelPermalink }}">
                <div class="section-post-image" style="background-image: url({{ $imageProxy }}{{ replace .Params.image "https://" "" }}&w=200)"></div>
              </a>
              <div class="section-post-info">
                <div class="section-post-title">
                  <a href="{{ .RelPermalink }}">{{ truncate $titleLength "..." .LinkTitle }}</a>
                </div>

                <div class="section-post-subtitle">
                  {{ truncate $subtitleLength "..." .Params.subtitle }}
                </div>
                <div class="section-post-byline">
                  {{ $authorPage := (.Site.GetPage "taxonomyTerm" "authors" (index .Params.authors 0)) }}
                  <span class="author">By {{ $authorPage.Title }}</span>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <hr class="style-circle"></hr>
    {{ end }}
  {{ end }}
</div>

{{ partial "footer.html" . }}
