{{ $imageProxy := .Site.Params.imageProxy }}

{{ partial "header.html" . }}

<div class="publication-above">Publication</div>
<div class="publication-header">{{ .Title }}</div>
<p><a href="..">All Publications</a></p>

{{ $baseLink := .Permalink }}
{{ $groups := .Pages.GroupByDate "2006" }}

<div class="publication-issue-list">
  {{ range $groups }}
    {{ $year := .Key }}
    {{ $page := index .Pages 0 }}
    <a href="{{ $baseLink }}{{ $year }}">
      <div class="publication-issue">
        {{ $slug := printf "%v_%v" (index $page.Params.publications 0) $page.Params.issue_number }}
        <img style="border: 1px solid black" alt="cover" src="{{ $imageProxy }}f001.backblazeb2.com/file/felixonline/issues/thumbnails/{{ $slug }}_small.png&w=100"/>
        <div class="publication-issue-info">
          {{ $year }}
        </div>
      </div>
    </a>
  {{ end }}
</div>

{{ partial "footer.html" . }}
