/* Archive styles */

.publications-header {
  text-transform: uppercase;
  @include relative-font-size(2);
  font-family: $sans-serif-font-family;
  font-weight: 700;
  text-align: center;
}

.publication-list-container {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.publication {
  text-align: center;
  width: 25%;
  float: left;
}

.publication-list-container:hover img {
  filter: blur(3px);
}

.publication-list-container .publication:hover img {
  filter: blur(0);
}

@supports (display: grid) {
  .publication {
    width: auto;
    float: none;
  }
}

.publication-link {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 4;
  color: $text-color;
}

.archive-logo {
  color: white;
  font-family: $sans-serif-font-family;
  @include relative-font-size(1.2);
  position: relative;
  top: 3px;
}

/* Archive list styles */

.publication-above {
  text-align: center;
}

.publication-header {
  text-transform: uppercase;
  @include relative-font-size(2);
  font-family: $sans-serif-font-family;
  font-weight: 700;
  text-align: center;

  margin-bottom: $spacing-unit;
}

.publication-back {
  text-align: center;
}

.publication-back:before {
  content: '←';
  margin-right: 2px;
}

.publication-back a {
  color: $text-color;
}

.publication-back a:hover {
  text-decoration: underline;
}

.publication-year-list, .publication-issue-list {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  text-align: center;
}

.publication-year-list:hover img {
  filter: blur(3px);
}

.publication-year-list .publication-year:hover img {
  filter: blur(0);
}

.publication-issue, .publication-year {
  width: 50%;
  float: left;
  margin-bottom: $spacing-unit / 2;
}

@supports (display: grid) {
  .publication-issue, .publication-year {
    width: auto;
    float: none;
    margin-bottom: none;
  }
}

.publication-issue-info {
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 4;
  color: $text-color;
}

.publication-issue-list:hover img {
  filter: blur(3px);
}

.publication-issue-list .publication-issue:hover img {
  filter: blur(0);
}

.issue-date {
  @include relative-font-size(0.8);
}

/* Issue styles */

.issue-title, .issue-date {
  margin-bottom: $spacing-unit / 4;
}

.issue-title {
  @include relative-font-size(2);
}

.issue-link {
  margin-bottom: $spacing-unit / 2;
}

.issue-image {
  margin-bottom: $spacing-unit / 2;
}

///////////////////
/* Mobile styles */

@include media-query($on-palm) {
  .publications-header {
    margin-top: -$spacing-unit / 2;
  }

  .publication-list-container {
    display: block;
    margin-top: $spacing-unit / 2;
  }

  .publication {
    width: 50%;
    float: left;
    margin-bottom: $spacing-unit / 4;
  }

  .publication-issue-info {
    @include relative-font-size(0.7);
  }
}
