/* Styles for article pages */

article.post {
  padding: 0 $spacing-unit;
}

.post-title {
  @include relative-font-size(2.5);
  line-height: $base-line-height * 0.8;
  font-weight: 700;
  margin-bottom: $spacing-unit / 4;
}

.post-subtitle {
  @include relative-font-size(1.5);
  line-height: $base-line-height * 0.9;
  font-style: italic;
  margin-bottom: $spacing-unit / 2;
}

.post-authors {
  margin-bottom: $spacing-unit / 2;
  padding: ($spacing-unit / 4) 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  white-space: nowrap;
  width: 120px;
}

.post-authors a {
  color: $text-color;
}

.post-meta {
  margin-bottom: $spacing-unit / 2;
}

.post-meta time {
  color: $text-color;
}

.post-image {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-image img {
  display: none;
}

.post-image figcaption {
  font-style: italic;
  margin-top: $spacing-unit / 4;
}

.post-image-container {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.post-content {
  margin-bottom: $spacing-unit / 4;
}

.post-content p {
  text-align: justify;
  text-justify: inter-word;
}

.post-content p:not(:only-child):first-child::first-letter {
  @include relative-font-size(4.5);

  float: left;
  margin-top: 10px;
  padding-bottom: 3px;
  padding-right: 12px;
  line-height: $base-line-height / 2;
  font-style: normal;
  font-family: $serif-font-family;
}

.post-tags {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-bottom: 1px solid $grey-color-light;
}

.post-tag-title {
  @include relative-font-size(1.5);
  font-weight: bold;
  margin-bottom: $spacing-unit / 2;
}

.post-tag {
  @include relative-font-size(0.75);
  text-align: center;
  text-decoration: none;

  border: none;
  background-color: $button-color;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;

  a {
    color: white;
  }
}

.post-tag:hover {
  background-color: $button-hover-color;
}

.post-social * {
  vertical-align: text-top;
}

.post-social {
  margin-bottom: $spacing-unit / 2;
}

.post-comments {
  margin-bottom: $spacing-unit;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
      margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-footnotes {
  margin-top:  $spacing-unit;
  margin-bottom: $spacing-unit / 2;
  @include relative-font-size(0.8);
  color: $grey-color;
}

figcaption h4 {
  display: none;
}

figcaption p {
  margin-top: $spacing-unit / 4;
}

//////////////////////////////////
/* Longread */

.longread-post-image-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.longread-info {
  position: absolute;
  bottom: 0;
  width: 100%;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(#161616));
  background: -webkit-linear-gradient(rgba(0,0,0,0), #161616);
  background: linear-gradient(rgba(0,0,0,0), #161616);

  color: white;
}

.longread-info.wrapper {
  padding: $spacing-unit;
}

//////////////////////////////////

//////////////////////////////////
/* Block Quotes */

 blockquote {
  padding-top: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 4;

  @include relative-font-size(1.5);
  line-height: $base-line-height * 0.9;
  font-weight: 700;

  text-align: left;
}

@include media-query($on-palm) {
  blockquote {
    padding-left: 0;
    padding-right: 0;
    padding-right: $spacing-unit / 4;
  }
}

//////////////////////////////////

@include media-query($on-palm) {
  article.post {
    padding: 0 $spacing-unit / 4;
  }

  .post-title {
    @include relative-font-size(1.7);
  }

  .post-subtitle {
    @include relative-font-size(1.25);
  }

  .post-authors a {
    @include relative-font-size(1);
  }

  .post-image-container {
    height: 300px;
  }
}
