/* Author page styles */

.author-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-column-gap: 1em;
  grid-row-gap: 1em;

  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit / 2;
}

.author-profile {
  text-align: center;
}

.author-name {
  @include relative-font-size(2);
  font-weight: 700;
  font-family: $sans-serif-font-family;

  margin-bottom: $spacing-unit / 2;
}

.author-profile-header, .author-profile-social {
  margin-bottom: $spacing-unit / 4;
}

.author-profile-header img {
  background-color: $grey-color-light;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.social-link {
  margin-top: $spacing-unit / 4;
  margin-bottom: $spacing-unit / 4;
}

.social-link a {
  color: $text-color;
}

.author-position {
  margin-top: $spacing-unit / 2;
  @include relative-font-size(1.4);
  font-weight: 700;
}

.social-link a:hover .u-name {
  text-decoration: underline;
}

.social-link-website {
  display: none;
}

///////////////////
/* Mobile styles */

@include media-query($on-palm) {
  .author-articles {
    display: block;
  }

  .author-name {
    @include relative-font-size(1.6);
    margin-bottom: $spacing-unit / 2;
  }

  .author-position {
    @include relative-font-size(1.2);
  }

  .author-profile-header img {
    height: 75px;
    width: 75px;
  }

  .author-profile {
    margin-top: -$spacing-unit / 2;
    margin-bottom: $spacing-unit;
  }
}