/* Category page styles */

.category-header {
  text-transform: uppercase;
  @include relative-font-size(3);
  font-family: $heading-font-family;
  text-align: center;
}





.category-article-image {
  height: 100px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-color: #bbb;
}
