/* Footer styles */

.site-footer {
  background-color: $footer-main-color;
  color: $footer-text-color;
}

.footer-slogan {
  padding: $spacing-unit / 2;
  font-family: $serif-font-family;
  text-transform: uppercase;
  text-align: center;
}

.footer-sitemap {
  padding: $spacing-unit;
  background-color: $footer-secondary-color;
}