$footer-main-color: #000000;
$footer-secondary-color: #121212;
$footer-text-color: #ffffff;

/* Footer styles */

.site-footer {
  background-color: $footer-main-color;
  color: $footer-text-color;
}

// NEW
.footer-slogan {
  padding: $spacing-unit / 2;
  font-family: $heading-font-family;
  text-transform: uppercase;
  text-align: center;
}

.footer-sitemap {
  padding: $spacing-unit;
  background-color: $footer-secondary-color;
}