/**
 * Site header
 */
 .site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 2;

    text-align: center;
  }

  .site-title {
    @include relative-font-size(2.4);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.6;
    letter-spacing: 3px;

    &,
    &:visited {
      color: $text-color;
    }

    font-family: $heading-font-family;
  }

  .site-nav {
    line-height: $base-line-height * $base-font-size * 2;

    // NEW
    border-top: 1px solid $grey-color-light;

    .page-link {
      line-height: $base-line-height * 0.8;
      font-weight: bold;

      @include relative-font-size(0.7);

      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        color: $text-color;
        text-transform: capitalize;
      }

      .icon {
        height: 20px;
        width: auto;

        position: relative;
        top: 7px;
      }

    }
  }

  @include media-query($on-palm) {
    .site-nav {
      display: none;
    }
  }

  @include media-query($on-laptop) {
    .site-nav {

      .page-link {
        @include relative-font-size(0.6);

        &:not(:last-child) {
          margin-right: 10px;
        }

        .icon {
          height: 15px;
          top: 4px;
        }
      }

    }
  }