/**
 * Site header
 */
 .site-header {
  height: $header-height;

  text-align: center;

  color: $header-text-color;
  background-color: $header-main-color;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  /* Fix position of header */
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 998;
}

.site-title {
  @include relative-font-size(2.4);
  font-family: $serif-font-family;
  line-height: $base-line-height * $base-font-size * 3;
  letter-spacing: 3px;

  &,
  &:visited {
    color: $header-text-color;
  }
}

.site-logo {
  margin-left: 5px;
  height: $base-font-size * 2.4;
  position: relative;
  top: -$base-font-size / 2;
}

.site-search, .site-search-link {
  float: right;
  position: absolute;
  top: $base-font-size * 1.5;
  right: 5%;
}

.site-search {
  input {
    padding: 3px;
    font-size: 15px;
  }
}

.site-search-link {
  color: white;
  display: none;

  &:visited {
    color: white;
  }
}

.site-nav-side-button {
  float: left;
  position: absolute;
  top: $base-font-size * 2;
  left: 5%;
}

.site-nav {
  background-color: $header-secondary-color;
  line-height: $base-line-height * $base-font-size * 2;

  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.page-link {
  line-height: $base-line-height * 0.8;
  font-weight: 700;

  @include relative-font-size(0.8);

  // Gaps between nav items, but not on the last one
  &:not(:last-child) {
    margin-right: 20px;
  }

  .icon {
    height: 22px;
    width: auto;

    position: relative;
    top: 7px;
  }
}

.page-link a {
  color: $header-text-color;
  text-transform: capitalize;
}

.page-link a span:hover {
  text-decoration: underline;
}

.site-search-icon {
  height: $base-font-size * 2;
  position: relative;
  bottom: $spacing-unit / 3;
}

/////////////////
/* Header Menu */
/////////////////

.hamburger-line {
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
}

.site-nav-side-button {
  display: none;
}

.site-nav-side-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.site-nav-side {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: transparentize(black, 0.1); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.site-nav-side-link {
  margin-left: $spacing-unit;
}

.site-nav-side-link a {
  padding: 8px;
  display: inline-block;
  transition: 0.3s;

  font-weight: 700;
  color: $header-text-color;
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}

.site-nav-side-link .icon {
  display: inline-block;
  position: relative;
  top: 5px;

  height: 22px;
  width: auto;
}

.site-nav-side .closebtn {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.site-nav-side .closebtn:hover {
  opacity: 0.5;
}

///////////////////
/* Mobile styles */
///////////////////

@include media-query($on-laptop) {
  .site-nav-side-button {
    display: block;
  }

  .site-nav {
    display: none;
  }

  .site-header {
    height: $header-height * 2/3;
  }

  .site-title {
    line-height: $base-line-height * $base-font-size * 3.2;
  }

  .site-search {
    display: none;
  }

  .site-search-link {
    display: block;
  }
}

@include media-query($on-palm) {
  .site-header {
    height: $header-height / 2;
  }

  .site-title {
    @include relative-font-size(2);
    line-height: $base-line-height * $base-font-size * 2.5;
  }

  .site-logo {
    height: $base-font-size * 2;
    top: -$base-font-size / 2;
  }

  .site-nav-side-button {
    top: $base-font-size * 1.25;
  }
}
