.search-input {
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-bottom: $spacing-unit;
  border-radius: 5px;
}

.search-posts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  margin-top: $spacing-unit / 2;
}

@include media-query($on-palm) {
  .search-posts-container {
    display: block;
  }
}
