/* Page container */

.page-content {
  // Margin for sticky header
  margin-top: $header-height;
  padding: $spacing-unit 0;
  min-height: 50%;
}

.page-content-no-margin {
  padding: $spacing-unit 0;
  min-height: 50%;
}

@include media-query($on-laptop) {
  .page-content {
    margin-top: ($header-height * 2/3)
  }
}

@include media-query($on-palm) {
  .page-content {
    margin-top: ($header-height / 2);
  }
}