/* Tag page styles */

.tag-above {
  @include relative-font-size(0.9);
}

.tag-header {
  text-transform: uppercase;
  @include relative-font-size(2);
  font-family: $heading-font-family;
}

.tag-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-column-gap: 1em;
  grid-row-gap: 1em;

  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit / 2;
}

///////////////////
/* Mobile styles */

@include media-query($on-palm) {
  .tag-articles {
    display: block;
  }

  .tag-header {
    @include relative-font-size(1.6);
  }
}