/* Styles for the widget section */

.widget-section {
  margin-top: $spacing-unit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

.widget-most-recent {
  background-color: transparentize($grey-color-light, 0.7);
  padding: $spacing-unit / 1.5;
}

.widget-most-recent-title {
  font-weight: 700;
  @include relative-font-size(1.2);
  text-transform: uppercase;
  margin-bottom: $spacing-unit / 2;
}

.widget-article-link {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-row-gap: 2em;
  margin-top: $spacing-unit / 4;
}

.article-number {
  font-weight: 700;
  @include relative-font-size(1.5);
}

.widget-article-link a {
  color: $text-color;
}

.widget-article-link a:hover {
  text-decoration: underline;
}

.widget-latest-issue {
  background-color: transparentize($grey-color-light, 0.7);
  padding-top: $spacing-unit / 1.5;
  padding-left: $spacing-unit / 1.5;
  padding-right: $spacing-unit / 1.5;
  padding-bottom: $spacing-unit / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.issue-info {
  text-align: right;
}

.widget-issue-image img:hover {
  opacity: 0.5;
}

.issue-info-title {
  font-weight: 700;
  @include relative-font-size(1.2);
  text-transform: uppercase;
}

.issue-number a {
  @include relative-font-size(2.5);
  font-weight: 700;
  color: black;
}

.issue-view-archive-link a {
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.widget-newsletter {
  background-color: transparentize($grey-color-light, 0.7);
  display: none;
}

@include media-query($on-palm) {
  .widget-section {
    display: block;
  }
}