      </div>
    </main>


    <footer class="site-footer">
        <div class="footer-slogan">
          Keep the cat free
        </div>
        <div class="footer-sitemap">
          <div class="wrapper">
            <div class="section-links-container">
              {{ range $.Site.Params.displayCategories }}
                <div class="section-links">
                  <div class="section-links-title">
                    {{ $name := (index . "name") }}
                    <a href="{{ $.Site.BaseURL }}categories/{{ $name }}">
                      <object class="icon" width="20" type="image/png" data="{{ $.Site.BaseURL }}images/png/{{ $name }}1.png"></object>
                      {{ if eq (index . "display") nil }}
                        {{ $name }}
                      {{ else }}
                        {{ index . "display" }}
                      {{ end }}
                    </a>
                  </div>
                  {{ range (index . "tags") }}
                    {{ if not (in "imported image" .) }}
                      <div class="section-links-subsections">
                        <a href="{{ $.Site.BaseURL }}tags/{{ . }}">
                          {{ replace . "-" " " }}
                        </a>
                      </div>
                    {{ end }}
                  {{ end }}
                </div>
              {{ end }}
            </div>
            <div class="other-info">
              <div class="title">Felix Online</div>
              <div class="contact">Felix, Beit Quad, Prince Consort Road, London, SW7 2BB. Tel: 020 7594 8072.</div>
              <div class="copyright">Copyright © Felix Imperial. Registered newspaper ISSN 1040-0711.</div>
              <div class="site-social">
                <a href="https://www.facebook.com/FelixImperial">
                  <img class="site-social-logo" src="{{ .Site.BaseURL }}images/facebook.png">
                </a>
                <a href="https://twitter.com/feliximperial">
                  <img class="site-social-logo" src="{{ .Site.BaseURL }}images/twitter.png">
                </a>
                <a href="{{ $.Site.BaseURL }}publications">
                  <img class="site-social-logo" src="{{ .Site.BaseURL }}images/archive.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  </body>
</html>
