<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ index .Site.Data.css.hash "main.css" }}">
  {{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|PT+Sans:400,400i,700" rel="stylesheet">
</head>
<body>

  <script>
    function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("site-body").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("site-body").style.marginLeft = "0";
    }
  </script>

  <div id="sidenav" class="site-nav-side">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{ range $category := .Site.Params.displayCategories }}
      {{ $name := $category.Name }}
        <a href="{{ $.Site.BaseURL }}/categories/{{ $name }}">
          {{ if eq $category.Display nil }}
            {{ $name  }}
          {{ else }}
            {{ $category.Display }}
          {{ end }}
        </a>
    {{ end }}
  </div>

  <div id="site-body">

  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <img class="site-logo" src="{{ .Site.BaseURL }}/icons/cat.png">
      <div class="site-social">
        <a href="https://www.facebook.com/FelixImperial">
          <img class="site-social-logo" src="{{ .Site.BaseURL }}/icons/facebook.png">
        </a>
        <a href="https://twitter.com/feliximperial">
          <img class="site-social-logo" src="{{ .Site.BaseURL }}/icons/twitter.png">
        </a>
        <a href="{{ $.Site.BaseURL }}publications">
          <span class="archive-logo">A</span>
        </a>
      </div>
      <div class="site-nav-side-button">
        <div onclick="openNav()">
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
        </div>
      </div>
    </div>

    <div class="site-nav">
      {{ range $category := .Site.Params.displayCategories }}
        {{ $name := $category.Name }}
        <span class="page-link">
          <a href="{{ $.Site.BaseURL }}/categories/{{ $name }}">
            <object class="icon" type="image/png" data="{{ $.Site.BaseURL }}icons/png/{{ $name }}1.png"></object>
            {{ if eq $category.Display nil }}
              {{ $name  }}
            {{ else }}
              {{ $category.Display }}
            {{ end }}
          </a>
        </span>
      {{ end }}
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
