<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{ if .Page.Keywords }}
    <meta name="keywords" content="{{ .Page.Keywords }}"/>
  {{ else }}
    <meta name="keywords" content="felix, student news, student newspaper, felix online, imperial college union, imperial college, felixonline"/>
  {{ end }}

  <title>{{ .Title }}</title>
  <link rel="shortcut icon" href="{{ $.Site.BaseURL }}favicon.ico">

  {{ if .Page.Plain }}
    {{ with .Page.Plain }}
      <meta name="description" content="{{ . | truncate 150 }}">

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@feliximperial" />
      <meta name="twitter:title" content="{{ trim $.Title "\n" }}" />
      <meta name="twitter:description" content="{{ . | truncate 150 }}" />
      {{ if $.Params.image }}
        <meta name="twitter:image" content="{{ $.Site.Params.imageProxy }}{{ replace $.Params.image "https://" "" }}&w=1000" />
      {{ end }}

      <meta property="og:url" content="{{ $.Permalink }}" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="{{ trim $.Title "\n" }}" />
      <meta property="og:description" content="{{ . | truncate 150 }}" />
      {{ if $.Params.image }}
        <meta property="og:image" content="{{ $.Site.Params.imageProxy }}{{ replace $.Params.image "https://" "" }}&w=1000" />
      {{ end }}
    {{ end }}
  {{ else }}
    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}">

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@feliximperial" />
      <meta name="twitter:title" content="Felix Newspaper" />
      <meta name="twitter:description" content="{{ . }}" />
      <meta name="twitter:image" content="{{ $.Site.BaseURL }}icons/cat-black.png" />

      <meta property="og:url"                content="{{ $.Permalink }}" />
      <meta property="og:type"               content="website" />
      <meta property="og:title"              content="Felix Newspaper" />
      <meta property="og:description"        content="{{ . }}" />
      <meta property="og:image"              content="{{ $.Site.BaseURL }}icons/cat-black.png" />
    {{ end }}
  {{ end }}

  {{ with .Params.authors }}
    <meta name="author" content="{{ range . }}{{ $authorPage := ($.Site.GetPage "taxonomyTerm" "authors" .) }}{{ $authorPage.Title }},{{ end }}">
  {{ end }}

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ index (index .Site.Data.css.styles "styles") 0 }}">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|PT+Sans:400,400i,700" rel="stylesheet">

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
  {{ end }}

  <script src="{{ .Site.BaseURL }}js/{{ index (index .Site.Data.js.scripts "scripts") 0 }}"></script>
</head>
<body>
  <div id="sidenav" class="site-nav-side">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{ range $category := .Site.Params.displayCategories }}
      {{ $name := $category.Name }}
        <div class="site-nav-side-link">
          <object class="icon" type="image/png" data="{{ $.Site.BaseURL }}icons/png/{{ $name }}1.png"></object>
          <a href="{{ $.Site.BaseURL }}/categories/{{ $name }}">
            {{ if eq $category.Display nil }}
              {{ $name  }}
            {{ else }}
              {{ $category.Display }}
            {{ end }}
          </a>
        </div>
    {{ end }}
  </div>

  <div id="site-body">

  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <img class="site-logo" src="{{ .Site.BaseURL }}/icons/cat-white.png">
      <div class="site-social">
        <a href="https://www.facebook.com/FelixImperial">
          <img class="site-social-logo" src="{{ .Site.BaseURL }}/icons/facebook.png">
        </a>
        <a href="https://twitter.com/feliximperial">
          <img class="site-social-logo" src="{{ .Site.BaseURL }}/icons/twitter.png">
        </a>
        <a href="{{ $.Site.BaseURL }}publications">
          <img class="site-social-logo" src="{{ .Site.BaseURL }}/icons/archive.png">
        </a>
      </div>
      <div class="site-nav-side-button">
        <div onclick="openNav()">
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
        </div>
      </div>
    </div>

    <div class="site-nav">
      {{ range $category := .Site.Params.displayCategories }}
        {{ $name := $category.Name }}
        <span class="page-link">
          <a href="{{ $.Site.BaseURL }}/categories/{{ $name }}">
            <object class="icon" type="image/png" data="{{ $.Site.BaseURL }}icons/png/{{ $name }}1.png"></object>
            <span>
              {{ if eq $category.Display nil }}
                {{ trim $name " " }}
              {{ else }}
                {{ $category.Display }}
              {{ end }}
            </span>
          </a>
        </span>
      {{ end }}
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
