<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ index .Site.Data.css.hash "main.css" }}">
  {{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
</head>
<body>

  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>

    <div class="site-nav">
      {{ range $name := .Site.Params.displayCategories }}
        <span class="page-link">
          <a href="{{ $.Site.BaseURL }}/categories/{{ $name }}">
            <object class="icon" type="image/png" data="{{ $.Site.BaseURL }}icons/png/{{ $name }}1.png"></object>
            {{ $name }}
          </a>
        </span>
      {{ end }}
    </div>
  </header>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
