{{ $imageProxy := .Site.Params.imageProxy }}
{{ $titleLength := 60 }}
{{ $subtitleLength := 50 }}

<div class="highlight-section">
    {{ range $name, $pages := .Site.Taxonomies.highlights }}
      <div class="highlight-post-block">
        <h2>{{ $name }}</h2>

        {{ $post := index $pages 0 }}
        <div class="image" style="background-image: url({{ $imageProxy }}{{ replace $post.Params.image "https://" "" }}&w=200)"></div>
        <div class="info">
          <a href="{{ $post.RelPermalink }}">{{ truncate $titleLength "..." $post.Title }}</a>

          <div class="subtitle">
            {{ truncate $subtitleLength "..." $post.Params.subtitle }}
          </div>
          <div class="byline">
            <span class="author">By _</span>
            <span class="date">{{ $post.Date.Format "Monday Jan 2" }}</span>
          </div>
        </div>
      </div>
    {{ end }}
  </div>