---
layout: default
---

<div class="home">

  <div class="headline-section">
    <h1>Headlines</h1>

    <div class="section">
      {% assign headline_posts = site.posts | where:"headline", true %}
      {% assign first_headline = headline_posts | first %}
      <div class="main-image" style="background-image: url({{ first_headline.image_path | replace: " ", "%20" }})"></div>

      <div class="headline-summaries">
        {% for post in headline_posts limit:3 %}
          <div class="summary">
            <div class="section">
              {% if post.category %}
                {{ post.category | capitalize }}
              {% else %}
                In the Current Issue
              {% endif %}
            </div>
             <div class="title">
              <a href="{{ post.url }}">{{ post.title | capitalize }}</a>
              <span class="author">By Fred Fyles</span>
            </div>

            <!-- <div class="byline">

              <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
            </div>  -->
          </div>
        {% endfor %}
      </div>
    </div>
    <hr class="style-circle"></hr>
  </div>

  <div class="sections">
    {% for section in site.data.sections %}
      {% assign posts = site.categories[section.value] | where:"featured", true %}

      {% if posts %}
        <div class="section">
          <h1>
            <a href="/section/{{ section.value }}.html">{{ section.name }}</a>
          </h1>

          <div class="post-block-container">
            {% for post in posts limit:4 %}
              <div class="post-block">
                <div class="image" style="background-image: url({{ post.image_path | replace: " ", "%20" }})"></div>
                <div class="info">
                  <a href="{{ post.url }}">{{ post.title }}</a>

                  <div class="subtitle">
                    This is an interesting subtitle. These need to be quite long
                  </div>
                  <div class="byline">
                    <span class="author">Fred Fyles</span>
                    <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <hr class="style-circle"></hr>

      {% endif %}
    {% endfor %}
  </div>

  <div class="highlight-section">
    {% for highlight in site.data.highlights %}
      <div class="highlight-post-block">
        <h2>{{ highlight.name }}</h2>
        <div class="image" style="background-image: url({{ post.image_path | replace: " ", "%20" }})"></div>
        {% assign post = site.posts | where:"highlight", highlight.value | first %}
        <div class="info">
          <a href="{{ post.url }}">{{ post.title }}</a>

          <div class="subtitle">
            This is an interesting subtitle. These need to be quite long
          </div>
          <div class="byline">
            <span class="author">Fred Fyles</span>
            <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
