---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        {% assign author = site.author | where: "email", page.author | first %}
        • <a href="{{ author.permalink }}">{{ author.name }}</a>
      {% endif %}
    </p>

    <div>
      {% if page.tags.size > 0 %}
        Tagged with:
        {% for tag in page.tags %}
          {% if site.data.tags contains tag %}
            <a href="/tagged/{{ tag }}"><em>{{ tag }}</em></a><!--
            -->{% if forloop.last == false %},{% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </header>

  <img src="{{ page.image_path }}">

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
