body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0
}

body {
    font: 400 16px/1.5 Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 30px
}

li>ul,
li>ol {
    margin-bottom: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Georgia, serif
}

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: #1756a9
}

a:hover {
    color: #111
}

.social-media-list a:hover {
    text-decoration: none
}

.social-media-list a:hover .username {
    text-decoration: underline
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(1000px - (30px));
        max-width: calc(1000px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,
.section:after {
    content: "";
    display: table;
    clear: both
}

.icon>svg {
    display: inline-block;
    vertical-align: middle
}

.icon>svg path {
    fill: #828282
}

.social-media-list .icon {
    padding-right: 5px
}

.social-media-list li+li {
    padding-top: 5px
}

.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 60px;
    text-align: center
}

.site-title {
    font-size: 38.4px;
    font-weight: 300;
    line-height: 62.4px;
    letter-spacing: 3px;
    font-family: Georgia, serif
}

.site-title,
.site-title:visited {
    color: #111
}

.site-nav {
    line-height: 48px;
    border-top: 1px solid #e8e8e8
}

.site-nav .page-link {
    line-height: 1.2;
    font-weight: bold;
    font-size: 12.8px
}

.site-nav .page-link:not(:last-child) {
    margin-right: 33px
}

.site-nav .page-link a {
    color: #111
}

@media screen and (max-width: 600px) {
    .site-nav {
        display: none
    }
}

.icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: 11px
}

.site-footer {
    border-top: 1px solid #e8e8e8
}

.footer-slogan {
    padding: 12px 0;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    color: #424242
}

.headline-section h1 {
    text-transform: uppercase
}

@media screen and (max-width: 600px) {
    .headline-section h1 {
        margin-top: -10px
    }
}

.headline-section .main-image,
.headline-section .headline-summaries {
    height: 300px;
    float: left;
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2))
}

@media screen and (max-width: 600px) {
    .headline-section .main-image,
    .headline-section .headline-summaries {
        height: 225px;
        float: none;
        width: 100%
    }
    .headline-section .main-image {
        height: 225px
    }
}

.headline-section .main-image {
    background-image: url("http://lorempixel.com/500/400/");
    background-size: cover;
    margin-right: 27.2727272727px
}

.headline-section .headline-summaries .summary {
    border-top: 0.75px solid #e8e8e8;
    height: 100px;
    font-family: Georgia, serif
}

.headline-section .headline-summaries .summary:first-child {
    border-top: 0.75px solid #111
}

.headline-section .headline-summaries .summary:last-child {
    border-bottom: 0.75px solid #e8e8e8
}

@media screen and (max-width: 600px) {
    .headline-section .headline-summaries .summary:last-child {
        border-bottom: none
    }
}

.headline-section .headline-summaries .summary .section {
    margin-top: 8px;
    font-style: italic;
    font-size: 14.4px
}

.headline-section .headline-summaries .summary .title {
    font-size: 21.6px
}

.headline-section .headline-summaries .summary .title a {
    color: #111
}

.headline-section .headline-summaries .summary .title span.author {
    margin-left: 4px;
    color: #828282
}

@media (min-width: 600px) and (max-width: 960px) {
    .headline-section .headline-summaries .summary .title span.author {
        margin-left: 0px
    }
}

@media screen and (max-width: 600px) {
    .headline-section .headline-summaries .summary .title {
        font-size: 16px;
        line-height: 1.35
    }
    .headline-section .headline-summaries .summary .title span.author {
        margin-left: 0px;
        display: block
    }
}

@media screen and (max-width: 600px) {
    .headline-section .headline-summaries .summary {
        height: 80px
    }
}

hr.style-circle {
    margin-top: 25px;
    margin-bottom: 10px;
    height: 1px;
    border-top: 0px #e8e8e8;
    border-left: none;
    border-right: none;
    color: #e8e8e8;
    text-align: center
}

hr.style-circle:after {
    content: "○";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white
}

.section .post-block-container {
    margin-top: -15px
}

.section h1 {
    text-transform: uppercase
}

.section h1 a {
    color: #111
}

.post-block {
    float: left;
    margin-top: 30px;
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
    height: 150px
}

.post-block:nth-child(odd) {
    margin-right: 15px
}

.post-block:nth-child(even) {
    margin-left: 15px
}

@media screen and (max-width: 600px) {
    .post-block:nth-child(odd) {
        margin-right: 0
    }
    .post-block:nth-child(even) {
        margin-left: 0
    }
}

.post-block .image,
.post-block .info {
    height: 100%;
    float: left;
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2))
}

.post-block .image {
    background-size: cover;
    margin-right: 7.5px
}

.post-block .info {
    margin-left: 7.5px
}

.post-block .info a {
    font-family: Georgia, serif;
    color: #111;
    font-size: 19.2px;
    line-height: 1.2
}

.post-block .info .subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #424242;
    font-style: italic
}

.post-block .info span.date {
    font-size: 12.8px;
    color: #424242
}

.post-block .info span.author {
    font-size: 14.4px;
    margin-right: 3px
}

@media screen and (max-width: 600px) {
    .post-block {
        float: none;
        margin-top: 30px;
        width: 100%;
        height: 150px
    }
}

.page-content {
    padding: 30px 0
}

.page-heading {
    font-size: 20px
}

.post-list {
    margin-left: 0;
    list-style: none
}

.post-list>li {
    margin-bottom: 30px
}

.post-meta {
    font-size: 14px;
    color: #828282
}

.post-link {
    display: block;
    font-size: 24px
}

.post-header {
    margin-bottom: 30px
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1
}

@media screen and (max-width: 800px) {
    .post-title {
        font-size: 36px
    }
}

.post-content {
    margin-bottom: 30px
}

.post-content h2 {
    font-size: 32px
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size: 28px
    }
}

.post-content h3 {
    font-size: 26px
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size: 22px
    }
}

.post-content h4 {
    font-size: 20px
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size: 18px
    }
}

.highlight-post-block {
    float: left;
    margin-top: 15px;
    width: -webkit-calc(100% / 3 - (30px / 2));
    width: calc(100% / 3 - (30px / 2))
}

.highlight-post-block:nth-last-child(-n+2) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .highlight-post-block:nth-last-child(-n+2) {
        margin-left: 0
    }
}

.highlight-post-block .image {
    height: 150px;
    background-image: url("http://lorempixel.com/500/300/");
    background-size: cover
}

.highlight-post-block h2 {
    text-transform: uppercase
}

.highlight-post-block .info {
    margin-top: 15px
}

.highlight-post-block .info a {
    font-family: Georgia, serif;
    color: #111;
    font-size: 19.2px;
    line-height: 1.2
}

.highlight-post-block .info .subtitle {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #424242;
    font-style: italic
}

.highlight-post-block .info span.date {
    font-size: 12.8px;
    color: #424242
}

.highlight-post-block .info span.author {
    font-size: 14.4px;
    margin-right: 3px
}

@media screen and (max-width: 600px) {
    .highlight-post-block {
        float: none;
        width: 100%
    }
}
