{{ $imageProxy := .Site.Params.imageProxy }}
{{ $titleLength := 60 }}
{{ $subtitleLength := 50 }}

{{ partial "header.html" . }}

<div class="headline-section">
  {{ $headlinePosts := (where .Pages ".Params.headline" true) }}

  {{ $firstHeadline := index $headlinePosts 0 }}
  <div class="main-image" style="background-image: url({{ $imageProxy }}{{ replace $firstHeadline.Params.image "http://" "" }}&w=400)"></div>

  <div class="headline-summaries">
    {{ range first 3 $headlinePosts }}
      <div class="summary">
        <div class="section">
          {{ if (ne (index .Params.categories 0) nil) }}
            {{ index .Params.categories 0 }}
          {{ else }}
            In the Current Issue
          {{ end }}

        </div>
         <div class="title">
          <a href="{{ .Permalink }}">{{ truncate $titleLength "..." .Title }}</a>
          {{ $authorPage := (.Site.GetPage "taxonomyTerm" "authors" (index .Params.authors 0)) }}
          <span class="author">{{ $authorPage.Title }}</span>
        </div>
      </div>
    {{ end }}
  </div>
  <hr class="style-circle"></hr>
</div>

<div class="sections">
  {{ range $name := .Site.Params.displayCategories }}
    {{ $categoryPage := ($.Site.GetPage "taxonomyTerm" "categories" $name) }}
    <div class="section">
      <h1>
        <a href="{{ $.Site.BaseURL }}categories/{{ $name }}">{{ $name }}</a>
      </h1>

      <div class="post-block-container">
        {{ $articlesWithPictures := where $categoryPage.Pages ".Params.image " "!=" "http://felixonline.co.uk/" }}
        {{ range first 4 (where $articlesWithPictures ".Params.featured" true) }}
          <a href="{{ .RelPermalink }}">
            <div class="post-block">
              <div class="image" style="background-image: url({{ $imageProxy }}{{ replace .Params.image "http://" "" }}&w=200)"></div>
              <div class="info">
                <a href="{{ .RelPermalink }}">{{ truncate $titleLength "..." .LinkTitle }}</a>

                <div class="subtitle">
                  {{ truncate $subtitleLength "..." .Params.subtitle }}
                </div>
                <div class="byline">
                  {{ $authorPage := (.Site.GetPage "taxonomyTerm" "authors" (index .Params.authors 0)) }}
                  <span class="author">{{ $authorPage.Title }}</span>
                  <span class="date">{{ .Date.Format "Monday Jan 2" }}</span>
                </div>
              </div>
            </div>
          </a>
        {{ end }}
      </div>
    </div>
    <hr class="style-circle"></hr>
  {{ end }}
</div>

<div class="highlight-section">
  {{ range $name, $pages := .Site.Taxonomies.highlights }}
    <div class="highlight-post-block">
      <h2>{{ $name }}</h2>

      {{ $post := index $pages 0 }}
      <div class="image" style="background-image: url({{ $imageProxy }}{{ replace $post.Params.image "http://" "" }}&w=200)"></div>
      <div class="info">
        <a href="{{ $post.RelPermalink }}">{{ truncate $titleLength "..." $post.Title }}</a>

        <div class="subtitle">
          {{ truncate $subtitleLength "..." $post.Params.subtitle }}
        </div>
        <div class="byline">
          <span class="author">Fred Fyles</span>
          <span class="date">bbbb</span>
        </div>
      </div>
    </div>
  {{ end }}
</div>

{{ partial "footer.html" . }}
