{{ partial "header.html" . }}

  <section>
    <ul id="all-taxonomies">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
          <ul>
            {{ range $key, $value := $taxonomy }}
              <li>
                <a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}/{{ $key }}">
                  {{ $key }}
                </a>
              </li>
              <ul>
              {{ range $value.Pages }}
                <li>
                  <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} </a>
                </li>
              {{ end }}
              </ul>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </section>

{{ partial "footer.html" . }}
