{{ partial "header.html" . }}

<p>
  <a href="/authors">Authors</a>
  <a href="/categories">Categories</a>
  <a href="/tags">Tags</a>
</p>

<div id="headlines">
  <h1>Headlines</h1>

  {{ range first 4 (where .Pages ".Params.headline" true) }}
    <li>
      <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} </a>
    </li>
  {{ end }}
</div>

<div id="sections">
  <h1>Sections</h1>

  {{ range $name, $pages := .Site.Taxonomies.categories }}
    <div>
        <a href="/categories/{{ $name }}">
          {{ $name }}
        </a>
        {{ range first 4 (where $pages.Pages ".Params.featured" true) }}
          <li>
            <a href="{{ .RelPermalink }}"> {{ .LinkTitle }} </a>
          </li>
        {{ end }}
        </ul>
    </div>
  {{ end }}
</div>

{{ partial "footer.html" . }}
